body {
  background-color: darkcyan;
}
header {
  background-color: rosybrown;
  width: 95%;
  display: inline-block;
  margin: 10px;
  margin-bottom: 0px;
  max-width: 500px;
}
nav {
  float: right;
}
head:first-child {
  display: inline-block;
}
img {
  max-width: 100px;
  max-height: 100px;
  float: right;
}
#song {
  align-self: right;
  text-align: center;
  background-color: coral;
  width: 95%;
  margin: 10px;
  max-width: 500px;
}
section.activity {
  width: 95%;
  padding: 0px 10px 5px 10px;
  margin: 10px;
  background-color: coral;
  max-width: 500px;
}
section.project {
  width: 95%;
  padding: 0px 10px 5px 10px;
  margin: 10px;
  background-color: coral;
  max-width: 500px;
}
section.contact-form {
  background-color: coral;
}
h1 {
  margin-left: 5px;
}
h2 {
  margin-left: 15px;
}
footer img {
  max-height: 25px;
}
#social-logo-links {
  display: flex;
  justify-content: center;
}
.contact {
  text-align: center;
  size: 12px;
  margin: 0px;
}
:hover {
  color: rebeccapurple;
  text-decoration: line-through;
}