body {
  background-color: darkcyan;
}
a {
  color: darkgreen;
}

header {
  background-color: rosybrown;
  width: 96%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2%;
  padding-bottom: 5px;
  justify-content: space-between;
}
h1 {
  margin-left: 2%;
  text-decoration: underline;
}
nav {
  margin: 2%;
}
nav a {
  border: gray outset;
  padding: 1px;
}
nav a:hover {
  background-color: rebeccapurple;
  color: limegreen;
}
nav a:focus {
  border: gray inset;
  background-color: cyan;
}

h2 {
  margin-left: 2%;
  padding-left: 2%;
}
img {
  max-width: 100%;
  max-height: 100%;
  float: right;
}
/* Home Page */
#song {
  align-self: right;
  text-align: center;
  background-color: coral;
  width: 96%;
  margin: 2%;
}
/* About Page */
#activities-container {
  width: 96%;
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: darkred;
}
section.activity {
  width: 25%;
  padding: 0% 2% 1% 2%;
  margin: 2%;
  background-color: coral;
}
section.activity:hover {
  background-color: rebeccapurple;
  color: limegreen;
}
/* Project Page */
#project-container {
  width: 96%;
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: darkred;
}
section.project {
  width: 25%;
  padding: 0% 2% 1% 2%;
  margin: 2%;
  background-color: coral;
}
section.project:hover {
  background-color: rebeccapurple;
  color: limegreen;
}
section.project:hover a {
  color: chocolate;
}
#skiing-pic {
  float: left
}
@media (max-width: 1000px) {
  section.project {
    width: 100%;
  }
  section.activity {
    width: 100%;
  }
}
/* Contact Page */
section.contact-form {
  width: 96%;
  margin: 2%;
  background-color: coral;
}
table {
  padding: 2%;
  margin: auto;
}

footer {
  margin: 2%;
  padding: 1%;
  text-align: center;
}
footer img {
  max-height: 25px;
}
footer img:hover {
  max-height: 30px;
}
footer:hover {
  background-color: rosybrown;
}
#social-logo-links {
  display: flex;
  justify-content: center;
}
