body {
  background-color: darkcyan;
}
a {
  color: darkgreen;
}

header {
  background-color: rosybrown;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  padding-bottom: 5px;
  justify-content: space-between;
}
h1 {
  margin-left: 10px;
}
nav {
  margin: 10px;
}
nav a {
  border: gray outset;
  padding: 2px;
}
nav a:hover {
  background-color: rebeccapurple;
  color: limegreen;
}
nav a:focus {
  border: gray inset;
  background-color: cyan;
}

h2 {
  margin-left: 15px;
}
img {
  max-width: 100%;
  max-height: 100%;
  float: right;
}
#song {
  align-self: right;
  text-align: center;
  background-color: coral;
  width: 95%;
  margin: 10px;
}
section.activity {
  width: 95%;
  padding: 0px 10px 5px 10px;
  margin: 10px;
  background-color: coral;
  max-width: 500px;
}
section.activity:hover {
  background-color: rebeccapurple;
  color: limegreen;
}
section.project {
  width: 95%;
  padding: 0px 10px 5px 10px;
  margin: 10px;
  background-color: coral;
  max-width: 500px;
}
section.project:hover {
  background-color: rebeccapurple;
  color: limegreen;
}
section.project:hover a {
  color:chocolate
}
section.contact-form {
  width: 95%;
  margin: 10px;
  background-color: coral;
}
table {
  padding: 10px;
  margin: auto;
}

footer {
  margin: 10px;
  padding:5px;
  text-align: center;
}
footer img {
  max-height: 25px;
}
footer img:hover {
  max-height: 30px;
}
footer:hover {
  background-color: rosybrown;
}
#social-logo-links {
  display: flex;
  justify-content: center;
}
